@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-100 text-gray-900;
  }
}

@layer components {
  .login-container {
    @apply min-h-screen flex items-center justify-center;
  }

  .card{
    @apply relative w-1/2 rounded-4xl shadow-2xl bg-white
          flex gap-2 overflow-hidden;

    height: 32rem;
  }

  .left, .right-form{
    @apply flex-1 flex flex-col items-center justify-center
          p-6 gap-4 transition-transform duration-500;
  }

  .left h2, .right-form h2 {
    @apply text-4xl font-bold;
  }

  .input-group {
    @apply w-full mb-5 relative flex flex-col items-center
          gap-2;
  }

  .left label {
    @apply absolute left-12 top-4
          bg-white px-1 text-gray-500 text-sm
          transition-all duration-200
          pointer-events-none;

    /* posisi awal */
    transform-origin: left top;
  }

  .left input:focus, .right-form input:focus {
    @apply outline-none
  }

  /* saat input focus atau ada isinya */
  .left input:focus + label,
  .left input:not(:placeholder-shown) + label {
    @apply -top-2 text-xs text-blue-500;
  }

  .left input, .right-form input {
    @apply w-96 border border-gray-300 rounded-xl
          px-4 py-3 text-lg
          focus:border-blue-500 transition;
  }

  .left form, .right-form form {
    @apply w-full flex flex-col items-center;
  }

  .left button, .right-form button {
    @apply bg-indigo-600 text-white text-lg font-semibold
          rounded-xl px-6 py-3 mt-4 w-48
          hover:bg-indigo-700 transition;
  }

  .right{
    @apply flex-1 z-50 bg-indigo-600 flex flex-col text-center gap-3 items-center justify-center
          text-white text-3xl font-bold transition-transform duration-500;
    border-radius: 150px 0 0 150px;
  }

  .right p{
    @apply text-sm font-normal;
  }

  .right button{
    @apply border text-sm border-white rounded-xl mt-4 px-4 py-2
          hover:bg-white hover:text-blue-500 transition;
    width: 160px;
  }

  .right-form {
    @apply z-10 right-0 absolute rounded-4xl
          translate-x-full inset-0;
  }

  .right-form label {
    @apply absolute left-70 top-4
          bg-white px-1 text-gray-500 text-sm
          transition-all duration-200
          pointer-events-none;

    /* posisi awal */
    transform-origin: left top;
  }

  .right-form input:focus + label,
  .right-form input:not(:placeholder-shown) + label {
    @apply -top-2 text-xs text-blue-500;
  }

  .signup-active .right {
    @apply -translate-x-127;
    border-radius: 0 150px 150px 0;
  }

  .signup-active .left {
    @apply -translate-x-full;
  }

  .signup-active .right-form {
    @apply translate-x-55;
  }



  /* dashboard.html */
  .container {
    @apply flex w-full;
  }

  .navbar {
    @apply bg-white shadow-md w-full h-16
          flex justify-between items-center
          p-6 gap-6;
  }

  .sidebar {
    @apply bg-white flex flex-col
          w-64 h-screen px-4 py-6
          shadow-md;
  }

  .right-dashboard-section {
    @apply flex-1;
  }

  .sidebar h2 {
    @apply text-2xl text-center font-semibold
          mb-4;
  }

  .sidebar ul {
    @apply flex flex-col;
  }

  .sidebar li {
    @apply flex gap-2 items-center
          p-3 mt-2 rounded-lg
          hover:bg-indigo-600 hover:text-white
          transition-colors duration-200;
  }

  .user-icon {
    @apply w-10 h-10 bg-indigo-600 text-white
          rounded-full flex items-center justify-center
          text-3xl font-bold;
  }
}